@model IEnumerable<BikeAppApp.Models.Motosikletler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutProje.cshtml";
}

<h1>Index</h1>

<div class="form-group">
    <label for="ccDropdown">Select CC:</label>
    <select id="ccDropdown" class="form-control">
        <option value="">Select CC</option>
        <option value="50">50CC</option>
        <option value="100">100CC</option>
        <option value="150">150CC</option>
    </select>
</div>

<div class="form-group">
    <label for="motorDropdown">Select Motor:</label>
    <select id="motorDropdown" class="form-control">
        <option value="">Select Motor</option>
    </select>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table id="motosikletlerTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Model)
            </th>
            <th>
                Fotoğraf
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.FotoğrafYolu))
                    {
                        <img src="@item.FotoğrafYolu" alt="Motosiklet Fotoğrafı" style="max-width: 100px; height: auto;" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MotosikletId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MotosikletId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MotosikletId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#motosikletlerTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json'
                }
            });

            $('#ccDropdown').change(function () {
                var cc = $(this).val();
                if (cc) {
                    $.ajax({
                        url: '@Url.Action("GetMotorsByCC", "Motosikletlers")',
                        data: { cc: cc },
                        success: function (data) {
                            var motorDropdown = $('#motorDropdown');
                            motorDropdown.empty();
                            motorDropdown.append('<option value="">Select Motor</option>');
                            $.each(data, function (index, motor) {
                                motorDropdown.append('<option value="' + motor.MotosikletId + '">' + motor.Marka + ' ' + motor.Model + '</option>');
                            });
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(xhr.status);
                            console.log(thrownError);
                        }
                    });
                } else {
                    $('#motorDropdown').empty();
                    $('#motorDropdown').append('<option value="">Select Motor</option>');
                }
            });
        });
    </script>
}
